[include]
    path = ~/.gitconfig.local

[core]
    editor = vim
    excludesfile = ~/.config/git/ignore
    attributesfile = ~/.config/git/attributes
    autocrlf = input
    filemode = false
    precomposeunicode = true
    safecrlf = warn

[merge]
    tool = vimdiff
    conflictstyle = diff3

[diff]
    tool = vimdiff
    context = 3

[color]
    ui = auto
    diff = auto
    status = auto

[alias]
    st = status
    co = checkout
    ci = commit
    br = branch
    lg = log --oneline --graph --decorate --all

[push]
    default = current
    followTags = true

[gc]
    auto = 256

[rebase]
    autoSquash = true
    rebaseMerges = true

[status]
    showUntrackedFiles = all

[log]
    decorate = full

[mergetool]
    keepBackup = false

[help]
    color = auto

[user]
    useConfigOnly = true

[url "git@gitlab.haiwell.com:"]
    insteadof = http://gitlab.haiwell.com/
